<div class="row">
    <h3 class="col-md-10  mt-5"> SOAP - Monedas Banco de Guatemala</h3>
    <h5 style="color:red;" >Fecha: {{fecha}}</h5> 
    <h5>TC - Quetzales frente al Dolar: <span style="color:red;"> {{referencia}} </span></h5>   
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1 mb-3 " *ngFor="let reg of listado" >
            <h6>{{reg.descripcion}}</h6>
            <div>
                <h5>{{reg.moneda}}</h5>
            </div>
        </div>
    </div>