
<div class="row">
<h1 class="col-md-10  mt-5"> Marvel - Rest</h1>
<button type="button" class="btn btn-link col-md-2" (click)="siguiente()">Siguiente >></button>

</div>
<div class="row">
    <div class="col-md-2 mb-5 " *ngFor="let reg of listado" >
        <img class="img-fluid foto" src="{{reg.thumbnail.path}}.{{reg.thumbnail.extension}}"/>
        <div>
            <h4>{{reg.name}}</h4>
        </div>
    </div>
</div>