
<div class="container">

<app-navbar></app-navbar>

<router-outlet></router-outlet>



<footer class="bg-light text-center text-lg-start mt-auto">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-dark" href="##">200112856 / Orlando Cabrera</a>
  </div>
  <!-- Copyright -->
</footer>

</div>